@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

@theme{
  --font-display:"Urbanist" , sans-serif;
  --breakpoint-3xl:1920px;
  --color-primary: #387478;
  --color-primary-dark: #243642;
  --color-secondary: #629584;
  --color-soft: #E2F1E7;

  --color-bg-card: #ffffff;
  --color-text-main: #243642;
  --color-text-muted: #629584;


}
@layer base {
  html{
    font-family: var(--font-display);
  }
  body{
    background-color: #fcfbfc;
  }
}